body {
  font-family: arial, sans-serif;
}

h1 {
  color: #7c7c7c;
  margin: none;
}

h6 {
  margin: none;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 40px auto 20px;
  border-radius: 10px;
  max-width: 600px;
  background-color: #dec3ec;
}

.weather-icon {
  height: 70x;
  width: 70px;
  margin: 0;
  position: relative;
  top: -6px;
}

.city,
.temperature {
  font-size: 40px;
  margin: 0px;
}
.city {
  opacity: 0.5;
}

.units {
  position: relative;
  top: -18px;
}

.center {
  text-align: center;
}

.open-source {
  margin: 20px auto;
  max-width: 600px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
