body {
  font-family: arial, sans-serif;
}

h1 {
  color: #7c7c7c;
  margin: 0px;
}

h6 {
  margin: 0px;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.weather-icon {
  height: 54px;
  width: 54px;
}

.temperature {
  font-size: 58px;
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}

.center {
  text-align: center;
}

.open-source {
  margin: 20px auto;
  max-width: 600px;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}
